<nlog>
    <variable name="messageLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss} | t${threadid:padding=-2} | ${scenarioGuid} | ${level:uppercase=true:padding=-5} | ${message}" />
    <variable name="logDirectory" value="${basedir}/Logs/" />

    <targets>
        <target type="File" name="debug_log_file" fileName="${logDirectory}Log.log" layout="${messageLayout}" />
        <target type="Console" name="all_logs_console" layout="${messageLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="all_logs_console,debug_log_file" />
    </rules>
</nlog>
